*.suo
*.user
*.userosscache
*.sln.docstates
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
build/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/
.vs/
*.pidb
*.svclog
*.suo
*.ntvs_analysis.dat
*.vcxproj
*.vcxproj.filters
.idea/
.vscode

